/****
     NHSBSA new styles 
****/

/* Phase banner */
.nhsuk-tag {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #fff;
  background-color: #005eb8;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}

@media (min-width: 40.0625em) {
  .nhsuk-tag {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1;
  }
}

@media print {
  .nhsuk-tag {
      font-size: 14pt;
      line-height: 1;
  }
}

.nhsuk-tag--inactive {
  background-color: #505a5f;
}

.nhsuk-tag--grey {
  color: #383f43;
  background: #eeefef;
}

.nhsuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6;
}

.nhsuk-phase-banner__content {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.14286;
  color: #0b0c0c;
  display: table;
  margin: 0;
}

@media (min-width: 40.0625em) {
  .nhsuk-phase-banner__content {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25;
  }
}

@media print {
  .nhsuk-phase-banner__content {
      font-size: 14pt;
      line-height: 1.2;
  }
}

@media print {
  .nhsuk-phase-banner__content {
      color: #000;
  }
}

.nhsuk-phase-banner__content__tag {
  margin-right: 10px;
}

.nhsuk-phase-banner__text {
  display: table-cell;
  vertical-align: middle;
}

/* header fix */
.nhsuk-header__logo--only {
  max-width: 100%;
}
@media (min-width: 40.0625em) {
  .nhsuk-header__logo--only .nhsuk-header__link--service {
      max-width: none;
  }
}
/* OGL Footer */
.app-ogl-footer {
  background-color: #d8dde0;
}

.app-ogl-footer--text {
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429;
  padding-bottom: 24px;
  color: #4c6272;
  margin-bottom: 0;
  padding-bottom: 24px;
}

@media (min-width: 40.0625em) {
  .app-ogl-footer--text {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.5;
  }
}

@media print {
  .app-ogl-footer--text {
      font-size: 14pt;
      line-height: 1.2;
  }
}

@media (min-width: 40.0625em) {
  .app-ogl-footer--text {
      padding-bottom:32px;
      margin-top: 0px;
  }
}

.app-ogl-footer--text svg {
  margin-right: 8px;
  position: relative;
  top: 2px;
}
